h1 {
    font-size: 12em;
    transition: all .3s;
    color: blue;

    &:hover{
        transform: translateX(50px);
        color: red;
    }
}

.bg {
    background-image:  url('./images/background.jpg');
    background-size: cover;
    width: 100px; 
    height: 100px;
}